body {
    font-family: 'frontage_regular', sans-serif;
    overflow-x: hidden;
    padding-bottom: 50px;
    color: #41343e;
}

nav {
    background-color: #eed6aa;
}

nav a {
    color: #41343e;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin: 0 !important;
}

nav a:hover,
nav a:active,
.active {
    color: #41343e !important;
    background-color: #eed6aa !important;
}

.view {
    display: none;
}

.serif {
    font-family: 'Lora', serif;
}

.bg-img {
    position: fixed;
    width: 200%;
    height: 200%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.jumbotron {
    background-color: beige;
}

#pg-home h3,
#pg-shoppers #shoppers-signup-btn,
#pg-shoppers #shoppers-info,
#pg-retailers #retailers-signup-btn,
#pg-retailers #retailers-info {
    display: none;
}

#pg-retailers #retailers-learn-btn,
#pg-shoppers #shoppers-learn-btn {
    background-color: beige;
    border-color: #41343e;
}

#pg-home {
    color: #fff;
    text-shadow: 2px 2px 8px #41343e;
}

#pg-home h1 {
    font-size: 5em;
    margin-top: 30vh;
}

#pg-home .bg-img {
    background-image: url(../img/bg_home.jpg);
}

#pg-product .screen-description {
    margin-top: 30vh;
}

#pg-product .screen-img {
    margin: auto 0;
}

#pg-product .hidden {
    visibility: hidden;
}

#pg-shoppers .bg-img {
    background-image: url('../img/bg_shoppers.jpg');
}

#pg-retailers .bg-img {
    background-image: url(../img/bg_retailers.jpg);
}

#pg-details{
    padding-bottom: 10em;
}

#pg-details .row {
    margin: 2em 0;   
}

#pg-about {
    margin-top: 30vh;
}