<div class="row text-center view" id="pg-details">
<!--
    <div class="bg-img"></div>
    <div class="col-md-3 col-md-offset-1">
        <h1>The App</h1>
        <ol>
            <li>Shoppers download Clutch’s mobile app that:
                <ul>
                    <li>Figures out when a shopper is in a store when activated</li>
                    <li>Allows consumers to modify their buying preferences</li>
                </ul>
            </li>
            <li>Retailers install iBeacon hardware throughout the store that identifies where shoppers are browsing</li>
            <li>When a shopper walks into a store, their browsing behavior and preferences can be used to get them coupons for products they want, in real-time</li>
            <li>The coupon is served on the app to the shopper, which can be presented to the sales associate. The shopper gets the best deal on the product they wanted, and the retailer gains this customer!</li>
        </ol>
    </div>
-->
    <div class="row text-center construction">
        This page is under construction!
    </div>
</div>