<div class="row text-center view" id="pg-product">
    <!--
    <div class="bg-img"></div>
    <div class="col-md-8 col-md-offset-2">
        Clutch revolutionizes the way coupons improve the in-store shopping experience.
        <p>We understand that shopping is highly personal. We know the joy of trying on the perfect shirt and realizing that a sale will help you afford it. We also understand the disappointment when you look at the pricetag, realize that it would cost you next month’s rent, drag yourself to the next store to continue your search.</p>
        <p>We believe there’s a better way. Maybe you would have bought the shirt if you had a coupon, but the store had no way of knowing that. That’s why we want to build a platform for stores to understand their customers’ buying preferences.</p>
        <p>Unlike traditional coupon solutions, our technology focuses on discovering which customers are likely to purchase products and offering them limited-time, personalized deals, and providing an added incentive for customers to buy in-store. We help retailers understand their customers and give shoppers a better experience. With Clutch, both shoppers and retailers win!</p>
    </div>
-->
    <div class="row text-center construction">
        This page is under construction!
    </div>
</div>