<div class="row text-center view" id="pg-shoppers">
    <div class="jumbotron">
        <h2>
            <b>Get Clutch for free.</b>
        </h2>
        <br>
        <h4 class="serif">Coming soon to iOS & Android.</h4>
        <br>
        <p><a class="btn btn-primary btn-lg" href="http://goo.gl/forms/MhU9yv4eFj" target="_blank" role="button">Sign Up</a>
        </p>
    </div>
    <div id="shoppers-info" class="container">
        <div class="row">
            <div class="col-md-4">
                <h4><b>Savings</b></h4>
                <p>Get personalized coupons for the items you want.</p>
            </div>
            <div class="col-md-4">
                <h4><b>Convenience</b></h4>
                <p>Shop in-stores with all the ease of shopping online.</p>
            </div>
            <div class="col-md-4">
                <h4><b>Clutch!</b></h4>
                <p>Leave your favorite store with a clutch deal!</p>
            </div>
        </div>
    </div>
</div>